.products-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 80px auto 80px;
}
.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px ;
}
.product-price {
    font-family: 'Raleway', sans-serif;
    color: #ad1f00;
    font-weight: bold;
    font-size: large;
}
.products-text-center .product-name a{
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.sidebar li.active {
    font-weight: bolder;
    font-size: initial;
}

.products-header {
    display: flex;
    justify-content: space-between;
}

.product-section-image{
    height: 150px;
 
}
.sidebar h3 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size:25px;
    
  
}
.sidebar ul {
    line-height: 2;
    margin-bottom: 20px;
}
    
.sidebar li{
    list-style: none;
    color: black;
}
.sidebar li.active {
    font-weight: 900px;
    
}
.sidebar li a:hover {
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.sidebar li a {
    color:  rgb(88, 88, 88)
}

.stylish-heading{
   margin-top: -5%;
   margin-bottom: 10%;
}
.product-name{
    color: black;
    font-weight: bold;
    text-decoration: none;

}

.product-name a:hover{
    font-weight: bolder;
    text-decoration: none;
   
    
}
.product-name a{
    text-decoration: none;
}
.breadcrumbs {
    background: rgb(212, 209, 209);
    border-bottom: 1px solid;
    padding: 24px 0;
  }
  .breadcrumbs .breadcrumb-separator {
    font-size: 14px;
    color: grey;
  }
  .breadcrumbs .breadcrumbs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

.products-headerr {
    display: flex;
    justify-content: space-between;
   
   
}
.products-headerr a:hover{
    font-weight: bolder;
    text-decoration: none;
    color: black;
   
}
.products-headerr a{
    color: rgb(116, 115, 115);
   
}
